# System Files
.DS_Store
Thumbs.db

# Logs
*.log
app.log
logs/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# IDE
.idea/
.vscode/

# Node
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
